body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

#main {
    width: 960px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}



#chatlog {
    width: 700px;
    height: 620px;
    border: solid #333;
    border-width: 1px;
    overflow-y: scroll !important;
    margin-bottom: 10px;
}

.message {
    font-family: helvetica;
    font-size: 12px;
}

.text.friend {
    font-weight: bold;
}

.username {
    color: #666;
    text-decoration: none;
}

.timestamp {
    font-style: italic;
}


#sendMsg {
    width: 638px; 
}